*{
    margin: 0;
    padding: 0;
    outline: 0
}

/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700;800&family=Lato:wght@300;400;700&display=swap');


/*Default CSS*/
ul{
    list-style: none;
    margin: 0;
    padding: 0
}
a, a:hover{
    text-decoration: none
}
a{
    display: inline-block
}


/*Header top css*/


.header-top-area-start {
    background: #1B263A;
}

.header-top-area-start a {
    color: #fff;
    display: inline-block;
}

.header-top-left a {
    text-transform: capitalize;
    margin-right: 15px;
    font-size: 13px;
    padding: 9px 0px;
    font-family: 'Lato', sans-serif;
}
.header-top-left i {
    margin-right: 5px;
}

.header-top-right {
    text-align: right;
}

.header-top-right a {
    font-size: 20px;
    padding: 2px 10px;
}

.header-top-right i {
    font-size: 14px
}

/*Navigation CSS*/

.logo-area a {
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #1B263A;
}

.logo-area a span {
    color: #1ABC9C;
}
nav.main-menu-area {
    text-align: right;
}
ul.main-menu li {
    display: inline-block;
}
ul.main-menu li a {
    color: #1C273B;
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    padding: 20.8px 16px;
    text-transform: uppercase;
    font-weight: 700;
}

/*Navigation css end*/











