

/*Google font*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,500,700|Roboto&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 15px;
	color: #585858;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin: 0;
	color: #111111;
}
p{
	margin: 0;
}

a{
	text-decoration: none;
}
img{
	max-width: 100%;
	display: block;
}
div{
	display: block;
}
.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row{
	margin-left: -15px;
	margin-right: -15px;
}

.top-area{
	padding-top: 35px;
	padding-bottom: 35px;
	overflow: auto;

}

.logo{
	width: 50%;
}

.main-nav{
	width: 50%;
	float: right;
}

.main-nav ul li{
	display: inline-block;
}

.main-nav ul li a {
    color: #111111;
    padding: 8px 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: inherit;
    border: 2px solid transparent;
}

.main-nav ul li a:hover{
	color: #f13a3a;
	border: 2px solid #ff0000;
	transition: all .5s;
}


.log-nav-wrapper {
    align-items: center;
    overflow: auto;
    display: flex;
}

/*Nav Section Style End*/

/*Hero Section Style Start*/

.hero-section {
    background-image: url(../images/slider_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-heading{
	padding: 20% 0;

}

.hero-heading h2 {
    font-size: 40px;
    color: #fff;
    line-height: 55px;
}

/*Hero Section End*/

/*Service Section Start*/

.services{
	overflow: hidden;
	padding: 115px 0 105px 0;
}

.service-item{
	width: 22%;
    float: left;
    text-align: center;
    margin: 0 15px;
}

.s_icon{
	margin-bottom: 35px;

}

.s_icon img {
	margin-left: auto;
	margin-right: auto;
}

.service-item h3{
	margin-bottom: 20px;
	font-size: 25px;
}

/*Service Section End*/

/*Company Overview Start*/

.company-overview {
	background: #E7EDEB;
	padding-top: 80px;
	padding-bottom: 90px;
	text-align: center;
	overflow: hidden;
}
.company-overview h2,
.feature-work h2 {
	font-size: 40px;
	margin-bottom: 30px;
	font-weight: 600;
}

.company-overview p {
	width: 60%;
	display: block;
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
}

.company-overview h5 {
	font-size: 20px;
	color: #585858;
	font-weight: 400;
	line-height: 28px;
	font-family: 'Roboto', sans-serif;
	margin: 35px 0;
}

.viewmorebtn {
	color: #ffffff;
	background: #ed2525;
	padding: 15px 35px;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
}

/*Company Overview End*/

/*Feature Work Start*/

.feature-work {
	padding: 105px 0;
	overflow: hidden;
}
.feature-work h2{
	text-align: center;
}
.feature-work p {
	width: 53%;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	line-height: 28px;
}

.cat-links{
	margin: 75px 0;
}
.cat-links ul {
	text-align: center;
}
.cat-links ul li {
	list-style: none;
	display: inline-block;
}
.cat-links ul li a {
	font-size: 18px;
	color: #111111;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 35px;
}

.cat-links ul li a:hover {
	background: #ed2525;
	color: #fff;
	text-transform: uppercase;
}

.work-item {
	width: 25%;
	float: left;
	overflow: hidden;
}
